body {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 5%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #DCDCDC;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

footer {
    margin-top: 100px;
    margin-bottom: 10px;
}

main {
    text-align: center;
}

select {
    margin: 20px 0;
    padding: 10px;
    font-size: 16px;
    font-family: 'Montserrat', Arial, sans-serif;
}

#destinations-list {
    margin-top: 20px;
}

.destination {
    margin: 10px 0;
}
