body {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 5%;
    padding: 0;
    background-color: #DCDCDC;
    /* background-color: #f4f4f9; */
    color: #333;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

header {
    /* background-color: #6200ea;
    color: #ffffff;
    padding: 15px; */
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
}

footer {
    margin-top: 100px;
    margin-bottom: 10px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.2rem;
    /* color: #555; */
}

main {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

select {
    margin: 20px 0;
    padding: 10px;
    font-size: 16px;
    font-family: 'Montserrat', Arial, sans-serif;
    border-radius: 5px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

#destinations-list {
    /* margin-top: 20px; */
    max-height: 300px;
    overflow-y: auto;
    margin: 20px 0;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

body.dark-mode #destinations-list {
    border-color: #444;
}

.destination {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    margin-bottom: 15px;
    border: 1px solid #ddd;
}

body.dark-mode .destination {
    background-color: #1e1e1e;
    border-color: #333;
}

.destination-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.destination-header .name-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.destination:hover {
    transform: translateY(-2px);
}

.destination a {
    color: #007BFF;
    text-decoration: none;
    font-weight: 500;
    text-align: left;
}

.destination a:hover {
    text-decoration: underline;
}

.icon {
    font-size: 1rem;
    margin-left: 5px;
}

.container {
    /* max-width: 800px; */
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    text-align: center;
    /* padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
}

body.dark-mode .container {
    background: #1e1e1e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.icons {
    margin-bottom: 5px;
}

.note-icon {
    cursor: pointer;
    color: #6200ea;
    margin-left: 10px;
}

#pagination-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px;
}

#pagination-controls button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    background: #6200ea;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

#pagination-controls button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    max-width: 90%;
    width: 300px;
}

body.dark-mode .modal {
    background: #1e1e1e;
    color: white;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal.show, .modal-overlay.show {
    display: block;
}

#icon-legend {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
    margin-bottom: 20px;
}

body.dark-mode #icon-legend {
    background: #2c2c2c;
    border-color: #444;
}

#icon-legend ul {
    list-style-type: none;
    padding: 0;
}

#icon-legend li {
    margin: 5px 0;
}

#icon-legend i {
    margin-right: 10px;
}

.controls {
    font-family: 'Montserrat', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.controls input,
.controls select,
.controls button {
    font-family: 'Montserrat', Arial, sans-serif;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.controls button {
    background-color: #6200ea;
    color: white;
    cursor: pointer;
}

.controls button:hover {
    background-color: #4b00b8;
}
